/****************** BANNER ******************/

.banner-container {
  padding-top: 85px;
  position: relative;
  display: flex;
}

.banner-container .foreground {
  z-index: 0;
  padding-top: 10.5%;
  padding-left: 7vw;
}

.banner-container .foreground .top {
  display: inline-block;
  width: 34.3vw;
  font-weight: 700;
  font-size: 4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  background-color: white;
  border: black 1px solid;
  text-shadow: black 0px 1px 3px;
}

.banner-container .foreground .mid {
  font-size: 4.6vw;
}

.banner-container .foreground .btm {
  font-size: 1.7vw;
  display: flex;
  align-items: center;
  text-shadow: black 0px 1px 1px;
  margin-top: 1vw;
}

.banner-container .foreground .btm .line {
  border: #ffce07 2px solid;
  width: 6vw;
  height: 0;
  margin-right: 1rem;
}

.banner-container .foreground .book-btn {
  font-size: 0.9vw;
  font-weight: 700;
  font-family: "SF Pro Display", sans-serif;
  background-color: #ffce07;
  border: none;
  width: 13vw;
  height: 3vw;
  border-radius: 30px;
  margin-top: 2vw;
  z-index: 1;
}

.banner-container .background {
  position: absolute;
  top: 87px;
  right: 0;
  z-index: -1;
}

@media screen and (width < 768px) {
  .banner-container {
    padding-top: 80px;
  }

  .banner-container .background {
    top: 80px;
  }
}

.banner-container .background img.left,
.banner-container .background img.btm {
  z-index: -2;
  position: absolute;
  height: 5vw;
  max-height: 66px;
}

.banner-container .background img.left {
  top: 4vw;
  left: -3.5vw;
  width: 4.5vw;
  height: 3.75vw;
}

.banner-container .background img.btm {
  bottom: -1.5vw;
  left: 20vw;
  width: 20vw;
  height: 3.75vw;
}

.banner-container .background img.banner {
  width: 52vw;
  height: 32vw;
}

@media screen and (width <= 768px) {
  .banner-container .background {
    display: none;
  }

  .banner-container {
    padding-top: 10%;
    height: 75vh;
  }

  .banner-container .foreground {
    width: 100%;
    border-radius: 0px;
    background-image: linear-gradient(
        0deg,
        rgba(196, 196, 196, 0.5) 100%,
        rgba(196, 196, 196, 0.5) 100%
      ),
      url("../../assets/images/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-left: 0;
    padding-top: 25vh;
  }

  .banner-container .foreground .top {
    background-color: transparent;
    border: none;
    text-shadow: none;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    width: auto;
  }

  .banner-container .foreground .mid {
    font-size: 48px;
  }

  .banner-container .foreground .btm {
    text-shadow: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .banner-container .foreground .btm .line {
    margin-right: 0;
    width: 70px;
  }

  .banner-container .foreground .btm span {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
  }

  .banner-container .foreground .book-btn {
    background-color: #ffce07;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1rem;
    height: 57px;
    width: 188px;
  }
}

@media screen and (width <= 468px) {
  .banner-container .foreground .top,
  .banner-container .foreground .mid {
    font-size: 36px;
  }
}

/****************** SERVICES ******************/

.services-container {
  margin-top: 20vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.services-container .marker {
  color: #c4c4c4;
}

.services-container h1 {
  text-shadow: black 0px 1px 3px;
}

.services-container .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5vw;
}

@media screen and (width > 914px) {
  .services-container .cards-container {
    column-gap: 0.1%;
  }
}

.services-container .tools-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-container .cards-container,
.services-container .tools-container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.services-container .tools-container img {
  margin: 3vw;
}

.services-container .highlight-container {
  background-color: #272727;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-container .highlight-container h2 {
  color: #ffce07;
  max-width: 682px;
}

.services-container .highlight-container .highlights {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.services-container .highlight-container .highlights div span {
  display: block;
  font-size: 21px;
  margin-bottom: 1vw;
}

.services-container .highlight-container .highlights div span:first-child {
  font-size: 33px;
  margin-bottom: 0;
}

/****************** PORTOFOLIO ******************/

.porto-container {
  padding-top: 10vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: white;
}

.porto-container h1 {
  padding: 0 25vw;
}

.porto-container .marker {
  color: #c4c4c4;
}

.porto-container h1 {
  color: #272727;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}

.porto-container .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.porto-container .porto-btn {
  font-size: 1rem;
  font-weight: 700;
  font-family: "SF Pro Display", sans-serif;
  background-color: #ffce07;
  border: none;
  height: 57px;
  width: 188px;
  border-radius: 30px;
  margin-top: 2vw;
}

/****************** TESTIMONIALS ******************/

.testi-container {
  position: relative;
  padding-top: 10vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: white;
  z-index: -1;
}

.testi-container .marker {
  color: #c4c4c4;
}

.testi-container h1 {
  padding: 0 30vw;
}

.testi-container .comment-container {
  height: 43vw;
}

.testi-container .comment-container .foreground {
  position: relative;
  height: inherit;
  z-index: 0;
  text-align: left;
}

.testi-container .comment-container .foreground .comment-big {
  position: absolute;
  max-width: 33vw;
  max-height: 13vw;
  right: 5vw;
  bottom: 5vw;
  font-size: 1.3vw;
}

.testi-container .comment-container .foreground .comment-big h3 {
  font-size: 2.8vw;
  margin-bottom: 0;
}

.testi-container .comment-container .foreground .comment-big .profile-card {
  display: flex;
  align-items: center;
}

.testi-container
  .comment-container
  .foreground
  .comment-big
  .profile-card
  .profile-icon {
  height: 3vw;
  width: 3vw;
  background-color: #c4c4c4;
  border-radius: 50px;
  margin-right: 1vw;
}

.testi-container
  .comment-container
  .foreground
  .comment-big
  .profile-card
  .profile-name
  span:last-child {
  color: #c4c4c4;
}

.testi-container
  .comment-container
  .foreground
  .comment-big
  .profile-card
  .profile-name
  span {
  display: block;
  font-size: 0.9vw;
}

.testi-container .comment-container .foreground .comment-big:first-child {
  right: auto;
  left: 15vw;
  top: 4vw;
}

.testi-container .comment-container .foreground .comment-small {
  position: absolute;
  bottom: 0;
  max-width: 23vw;
  max-height: 8.75vw;
  left: 15vw;
  top: 25vw;
}

.testi-container .comment-container .foreground .comment-small h3 {
  font-size: 1.5vw;
}

.testi-container .comment-container .foreground .comment-small p {
  font-size: 1vw;
}

.testi-container .comment-container .foreground .comment-small .profile-card {
  display: flex;
  align-items: center;
}

.testi-container
  .comment-container
  .foreground
  .comment-small
  .profile-card
  .profile-icon {
  height: 2vw;
  width: 2vw;
  background-color: #c4c4c4;
  border-radius: 50px;
  margin-right: 0.5vw;
}

.testi-container
  .comment-container
  .foreground
  .comment-small
  .profile-card
  .profile-name
  span:last-child {
  color: #c4c4c4;
}

.testi-container
  .comment-container
  .foreground
  .comment-small
  .profile-card
  .profile-name
  span {
  display: block;
  font-size: 0.7vw;
}

.testi-container .comment-container .foreground .comment-small:nth-child(3) {
  left: 35vw;
  top: 30vw;
}

.testi-container .comment-container .foreground .comment-small:nth-child(4) {
  top: 10vw;
  left: auto;
  right: 15vw;
}

.testi-container .comment-container .background {
  position: relative;
  z-index: -1;
}

.testi-container .comment-container .background img {
  position: absolute;
  left: 0;
  top: -15vw;
}

.testi-container .comment-container .background img:first-child {
  left: auto;
  top: -35vw;
}

.testi-container .comment-container .background img.grayed {
  filter: grayscale(1);
  top: -5.7vw;
}

.testi-container .comment-container .background img.top {
  rotate: 180deg;
  top: -48vw;
  left: 5vw;
}

.testi-container .comment-container .background img.btm {
  left: auto;
  right: 5vw;
}

/****************** BOTTOM BANNER ******************/

.banner-btm-container {
  background-color: white;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vw;
}

.banner-btm-container div {
  padding: 2vw;
  background-color: #ffce07;
  text-align: center;
  border: #272727 1px solid;
  border-radius: 20px;
  filter: drop-shadow(0 5px 5px rgb(0, 0, 0, 30%));
}

.banner-btm-container div button {
  margin-top: 1vw;
  background-color: #ffce07;
  color: #272727;
  font-weight: 700;
  font-size: 14px;
  width: 188px;
  height: 57px;
  border: #272727 1px solid;
  border-radius: 50px;
}

/****************** FOOTER ******************/

.footer-container {
  background-color: white;
  padding-left: 10vw;
  padding-right: 10vw;
}

.footer-container .footer-content {
  border-top: rgb(196, 196, 196, 25%) 3px solid;
  border-bottom: rgb(196, 196, 196, 25%) 3px solid;
  display: flex;
  padding-top: 3vw;
  padding-bottom: 2vw;
}

@media screen and (width <= 680px) {
  .footer-container .footer-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .footer-container .footer-content div {
    min-width: 100%;
  }
}

.footer-container .footer-content .footer-start {
  max-width: 50%;
  padding-right: 5vw;
}

.footer-container .footer-content .footer-start img {
  margin-bottom: 2vw;
}

.footer-container .footer-content .footer-start .socials {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
}

.footer-container .footer-content .footer-start .socials img {
  width: 25px;
}

.footer-container .footer-content .footer-center,
.footer-container .footer-content .footer-end {
  width: 25%;
}

.footer-container .footer-content .footer-center h4,
.footer-container .footer-content .footer-end h4 {
  margin-bottom: 2vw;
}

.footer-container .footer-content .footer-end p span {
  font-weight: 700;
  margin-right: 0.5vw;
}

.footer-container .footer-footer {
  display: flex;
  justify-content: space-between;
  padding: 2vw 0;
  color: #c4c4c4;
}

/****************** FLOATING BUTTON ******************/

.whatsapp-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.whatsapp-container .whatsapp-btn {
  background-color: #25d366;
  height: 64px;
  width: 64px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  animation: pulse-animation 5s infinite;
}

.whatsapp-container .whatsapp-btn img {
  height: 35px;
  width: 35px;
}

.whatsapp-container p {
  width: 70%;
  text-align: center;
  font-weight: 500;
  background-color: white;
  border-radius: 20px;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  30% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: transparent;
  }
}