/****************** BANNER ******************/

.banner-container {
  padding-top: 85px;
  position: relative;
  display: flex;
}

.banner-container .foreground {
  z-index: 0;
  padding-top: 10.5%;
  padding-left: 7vw;
}

.banner-container .foreground .top {
  display: inline-block;
  width: 34.3vw;
  font-weight: 700;
  font-size: 4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  background-color: white;
  border: black 1px solid;
  text-shadow: black 0px 1px 3px;
}

.banner-container .foreground .mid {
  font-size: 4.6vw;
}

.banner-container .foreground .btm {
  font-size: 1.7vw;
  display: flex;
  align-items: center;
  text-shadow: black 0px 1px 1px;
  margin-top: 1vw;
}

.banner-container .foreground .btm .line {
  border: #ffce07 2px solid;
  width: 6vw;
  height: 0;
}

.banner-container .foreground .book-btn {
  font-size: 0.9vw;
  font-weight: 700;
  font-family: "SF Pro Display", sans-serif;
  background-color: #ffce07;
  border: none;
  width: 13vw;
  height: 3vw;
  border-radius: 30px;
  margin-top: 2vw;
  z-index: 1;
}

.banner-container .background {
  position: absolute;
  top: 87px;
  right: 0;
  z-index: -1;
}

@media screen and (width < 768px) {
  .banner-container {
    padding-top: 80px;
  }

  .banner-container .background {
    top: 80px;
  }
}

.banner-container .background img.left,
.banner-container .background img.btm {
  z-index: -2;
  position: absolute;
  height: 5vw;
  max-height: 66px;
}

.banner-container .background img.left {
  top: 4vw;
  left: -5%;
  width: 6vw;
  max-width: 81px;
}

.banner-container .background img.btm {
  bottom: -1vw;
  left: 20vw;
  width: 30vw;
  max-width: 369px;
}

.banner-container .background img.banner {
  width: 70vw;
  height: 44vw;
}

/****************** SERVICES ******************/

.services-container {
  margin-top: 20vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.services-container .marker {
  color: #c4c4c4;
}

.services-container h1 {
  text-shadow: black 0px 1px 3px;
}

.services-container .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5vw;
}

.services-container .tools-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-container .cards-container,
.services-container .tools-container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.services-container .tools-container img {
  margin: 3vw;
}

.services-container .highlight-container {
  background-color: #272727;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-container .highlight-container h2 {
  color: #ffce07;
  max-width: 682px;
}

.services-container .highlight-container .highlights {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.services-container .highlight-container .highlights div span {
  display: block;
  font-size: 21px;
  margin-bottom: 1vw;
}

.services-container .highlight-container .highlights div span:first-child {
  font-size: 33px;
  margin-bottom: 0;
}

/****************** PORTOFOLIO ******************/

.porto-container {
  padding-top: 10vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: white;
}

.porto-container h1 {
  padding: 0 25vw;
}

.porto-container .marker {
  color: #c4c4c4;
}

.porto-container h1 {
  color: #272727;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}

.porto-container .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.porto-container .porto-btn {
  font-size: 1rem;
  font-weight: 700;
  font-family: "SF Pro Display", sans-serif;
  background-color: #ffce07;
  border: none;
  height: 57px;
  width: 188px;
  border-radius: 30px;
  margin-top: 2vw;
}

/****************** TESTIMONIALS ******************/

.testi-container {
  position: relative;
  padding-top: 10vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: white;
  z-index: -1;
}

.testi-container .marker {
  color: #c4c4c4;
}

.testi-container h1 {
  padding: 0 30vw;
}

.testi-container .comment-container {
  height: 43vw;
}

.testi-container .comment-container .foreground {
  position: relative;
  height: inherit;
  z-index: 0;
  text-align: left;
}

.testi-container .comment-container .foreground .comment-big {
  position: absolute;
  max-width: 33vw;
  max-height: 13vw;
  right: 5vw;
  bottom: 5vw;
  font-size: 1.3vw;
}

.testi-container .comment-container .foreground .comment-big h3 {
  font-size: 2.8vw;
  margin-bottom: 0;
}

.testi-container .comment-container .foreground .comment-big .profile-card {
  display: flex;
  align-items: center;
}

.testi-container
  .comment-container
  .foreground
  .comment-big
  .profile-card
  .profile-icon {
  height: 3vw;
  width: 3vw;
  background-color: #c4c4c4;
  border-radius: 50px;
  margin-right: 1vw;
}

.testi-container
  .comment-container
  .foreground
  .comment-big
  .profile-card
  .profile-name
  span:last-child {
  color: #c4c4c4;
}

.testi-container
  .comment-container
  .foreground
  .comment-big
  .profile-card
  .profile-name
  span {
  display: block;
  font-size: 0.9vw;
}

.testi-container .comment-container .foreground .comment-big:first-child {
  right: auto;
  left: 15vw;
  top: 4vw;
}

.testi-container .comment-container .foreground .comment-small {
  position: absolute;
  bottom: 0;
  max-width: 23vw;
  max-height: 8.75vw;
  left: 15vw;
  top: 25vw;
}

.testi-container .comment-container .foreground .comment-small h3 {
  font-size: 1.5vw;
}

.testi-container .comment-container .foreground .comment-small p {
  font-size: 1vw;
}

.testi-container .comment-container .foreground .comment-small .profile-card {
  display: flex;
  align-items: center;
}

.testi-container
  .comment-container
  .foreground
  .comment-small
  .profile-card
  .profile-icon {
  height: 2vw;
  width: 2vw;
  background-color: #c4c4c4;
  border-radius: 50px;
  margin-right: 0.5vw;
}

.testi-container
  .comment-container
  .foreground
  .comment-small
  .profile-card
  .profile-name
  span:last-child {
  color: #c4c4c4;
}

.testi-container
  .comment-container
  .foreground
  .comment-small
  .profile-card
  .profile-name
  span {
  display: block;
  font-size: 0.7vw;
}

.testi-container .comment-container .foreground .comment-small:nth-child(3) {
  left: 35vw;
  top: 30vw;
}

.testi-container .comment-container .foreground .comment-small:nth-child(4) {
  top: 10vw;
  left: auto;
  right: 15vw;
}

.testi-container .comment-container .background {
  position: relative;
  z-index: -1;
}

.testi-container .comment-container .background img {
  position: absolute;
  left: 0;
  top: -15vw;
}

.testi-container .comment-container .background img:first-child {
  left: auto;
  top: -35vw;
}

.testi-container .comment-container .background img.grayed {
  filter: grayscale(1);
  top: -5.7vw;
}

.testi-container .comment-container .background img.top {
  rotate: 180deg;
  top: -48vw;
  left: 5vw;
}

.testi-container .comment-container .background img.btm {
  left: auto;
  right: 5vw;
}


/****************** BOTTOM BANNER ******************/

.banner-btm-container {
  padding-top: 5vw;
  background-color: white;
  text-align: center;
}

.banner-btm-container button {
  margin-top: 1vw;
}